<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>Getting Started: Serving Web Content</title>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/my.js"></script>
	<body>
		<form method="post">
			<input type="text" id="userName" placeholder="用户名" required="required" />
			<input type="password" id="passpd" placeholder="密码" required="required" />
			<button type="submit" id="add">添加</button>
		</form>
		<br>
		<h1 id="test">test</h1>
		Message: ${message}
	</body>
</html>